<nav class="navbar-left">

    <div class="block-menu">

        <div>
            <a href="{{ url_for('profile.home') }}">
                <img src="{{ url_for('static', filename='img/icons/profile.png') }}" width="25">
                <span> Profile </span>
            </a>
        </div>

        <div>
            <a href="{{ url_for('world.home') }}">
                <img src="{{ url_for('static', filename='img/icons/world.png') }}" width="25">
                <span> World </span>
            </a>
        </div>

        <div>
            <a href="{{ url_for('arena.home') }}">
                <img src="{{ url_for('static', filename='img/icons/arena.png') }}" width="25">
                <span> Arena </span>
            </a>
        </div>

        <div>
            <a href="{{ url_for('market.home') }}">
                <img src="{{ url_for('static', filename='img/icons/market.png') }}" width="25">
                <span> Market </span>
            </a>
        </div>

        <div>
            <a href="{{ url_for('craft.home') }}">
                <img src="{{ url_for('static', filename='img/icons/craft.png') }}" width="25">
                <span> Craft </span>
            </a>
        </div>

        <div>
            <a href="{{ url_for('tavern.home') }}">
                <img src="{{ url_for('static', filename='img/icons/tavern.png') }}" width="25">
                <span> Tavern </span>
            </a>
        </div>

        <div>
            <a href="{{ url_for('inventory.home') }}">
                <img src="{{ url_for('static', filename='img/icons/inventory.png') }}" width="25">
                <span> Inventory </span>
            </a>
        </div>
    </div>
</nav>