<div class="bar-experience">
  <div> </div>
</div>


<div class="container-navbar-main">
  <div class="navbar">

    <div>
      <a href="{{ url_for('world.home') }}">
        <img src="{{ url_for('static', filename='img/icons/cookies.png') }}" width="24"><br>
        <span> World </span>
      </a>
    </div>

    <div>
      <a href="{{ url_for('arena.home') }}">
        <img src="{{ url_for('static', filename='img/icons/safe.png') }}" width="24"><br>
        <span> Arena </span>
      </a>
    </div>

    <div>
      <a href="{{ url_for('market.home') }}">
        <img src="{{ url_for('static', filename='img/icons/credits.png') }}" width="24"><br>
        <span> Market </span>
      </a>
    </div>

    <div>
      <a href="{{ url_for('profile.home') }}">
        <img src="{{ url_for('static', filename='img/sprites/sprite1.png') }}" width="24"><br>
        <span> Profile </span>
      </a>
    </div>

    <div>
      <a href="{{ url_for('craft.home') }}">
        <img src="{{ url_for('static', filename='img/icons/terms.png') }}" width="24"><br>
        <span> Craft </span>
      </a>
    </div>

    <div>
      <a href="{{ url_for('tavern.home') }}">
        <img src="{{ url_for('static', filename='img/logo.png') }}" width="24"><br>
        <span> Tavern </span>
      </a>
    </div>

    <div>
      <a href="{{ url_for('inventory.home') }}">
        <img src="{{ url_for('static', filename='img/icons/credits.png') }}" width="24"><br>
        <span> Bag </span>
      </a>
    </div>

  </div>

</div>