{% extends 'home/base.html' %}


{% block content %}
    <div class="container-body-forms container-cards">
        <div class="container-cards card">

            <div>
                <a href="{{ url_for('home.home') }}">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" width="81">
                </a>
            </div>

            <div class="container-cards">
                <form method="POST" action="">

                    {{ form_.csrf_token }}

                    <fieldset style="border: none">

                        <div class="form-group">
                            {{ form_.username.label         (class='form-style-label') }}

                            {% if form_.username.errors %}
                                {{ form_.username               (class='form-style is-invalid') }}

                            <div class="invalid-feedback">
                                {% for error in form_.username.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>

                            {% else %}
                                {{ form_.username               (class='form-style') }}
                            {% endif %}
                        </div>


                        <div class="form-group">
                            {{ form_.email.label            (class='form-style-label') }}

                            {% if form_.email.errors %}
                                {{ form_.email               (class='form-style is-invalid') }}

                            <div class="invalid-feedback">
                                {% for error in form_.email.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>

                            {% else %}
                                {{ form_.email               (class='form-style') }}
                            {% endif %}
                        </div>


                        <div class="form-group">
                            {{ form_.password.label         (class='form-style-label') }}

                               {% if form_.password.errors %}
                                {{ form_.password               (class='form-style is-invalid') }}

                            <div class="invalid-feedback">
                                {% for error in form_.password.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>

                            {% else %}
                                {{ form_.password               (class='form-style') }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form_.auth.label             (class='form-style-label') }}

                             {% if form_.auth.errors %}
                                {{ form_.auth               (class='form-style is-invalid') }}

                            <div class="invalid-feedback">
                                {% for error in form_.auth.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>

                            {% else %}
                                {{ form_.auth               (class='form-style') }}
                            {% endif %}
                        </div>

                    </fieldset>
                        <br>
                        <div class="button-a"> <button> Next </button> </div>
                        <br>
                </form>

                <div>
                    <a class="button-b" href="{{ url_for('login.login') }}">
                        <button>  Already have an account? Log in  </button>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}