{% extends 'game/base.html' %}


{% block head %}
<link href="{{ url_for('static', filename='css/game/tavern/tavern.css') }}" type="text/css" rel="stylesheet">
<link href="{{ url_for('static', filename='css/home/alert.css') }}" type="text/css" rel="stylesheet">
{% endblock %}


{% block alert %}
{% include 'game/alert.html' %}
{% endblock %}


{% block body %}

<div class="max-width">

    {% for post in posts | reverse() %}

    <div class="body-posts">

        <div class="column-img-name-date">
            <img src="{{ url_for('static', filename='img/sprites/' + post['sprite'] ) }}" width="50px">
            <span> {{ post['charname'] | title() }} </span>
            <small> {{ post['date'][:10] }} </small>
            <small> {{ post['date'][10:] }} </small>
        </div>

        <div class="post-info">
            {{ post['info'] }}
        </div>
    </div>

    {% endfor %}

</div>

<div class="max-width">
    <form method="POST" action="">
        <textarea class="post-content" name="text" minlength="1" maxlength="400" placeholder="Say something.."
            required></textarea>
        <button class="button" type="submit"> submit </button>
    </form>
</div>


{% endblock %}



{% block script %}
{% endblock %}