{% extends 'home/base.html' %}


{% block content %}
<div class="container-body-forms container-cards">

    <div class="container-cards card">

        <div>
            <a href="{{ url_for('home.index') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" width="81">
            </a>
        </div>

        <div class="container-cards">

            <form method="POST" action="">

                {{ form.csrf_token }}

                <fieldset style="border: none">

                    <div class="form-group">
                        {{ form.email.label }}

                        {% if form.email.errors %}
                        {{ form.email (class='is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.email }}
                        {% endif %}
                    </div>

                </fieldset>

                <div class="button-a"> <button type="submit"> Send Token Reset </button> </div>

            </form>
        </div>


        <a class="button-b" href="{{ url_for('auth.login') }}"> <button> Return Log in </button> </a>

        <a class="button-b" href="{{ url_for('auth.auth_token') }}"> <button> Already have token? </button> </a>


    </div>
</div>
{% endblock %}