<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div style='display:block; width:80%; background-color:cadetblue; color:aliceblue; text-align:center; font-size:1rem'>
        <h2>Authentication Token</h2>
        
        <p>This is your recovery token, it is valid only once..</p>
        <p>After changing the password the token changes.</p>
        <p>Do not share.</p>
        
        <div style='background-color: azure; color: black; font-size:1.5rem'>
            <span> {{token}} </span>
        </div>
    </div>
</body>

</html>