{% extends 'game/base.html' %}


{% block alert %}
{% include 'game/alert.html' %}
{% endblock %}


{% block body %}

<main class="m-auto p-2 grid gap-10 rounded bg-gradient-to-b from-[#181818d7] to-black/40  md:ml-[150px] ">

    <!-- SECTION 1 -->
    <section class="grid grid-cols gap-7 p-2 items-center">

        <!-- POSTS -->
        <tr>
            {{add_html|safe}}
        </tr>

        <!-- FORM -->
        <form method="POST" action="" class="flex flex-row-2 gap-3">

            <input type="text" name="text" minlength="1" maxlength="400" placeholder="Say something.." required
                class="h-auto p-2 rounded w-full text-black">

            <button type="submit" class="flex items-center justify-center text-white p-2 w-max border rounded
            h-14 bg-gradient-to-r from-sky-500 to-indigo-500
            hover:border-white md:w-32 md:m-auto">
                <ion-icon name="send-outline" class="text-2xl"></ion-icon>
            </button>

        </form>
    </section>

</main>

{% endblock %}


{% block script %}
{% endblock %}