{% extends 'game/base.html' %}


{% block head %}
<link href="{{ url_for('static', filename='css/game/profile/vocation.css') }}" type="text/css" rel="stylesheet">
{% endblock %}


{% block body %}


<!-- INFO -->
<div class="max-width column-att">
    <span>
        <h4>Vocation</h4>
    </span>
    <span>
        <h4>Description</h4>
    </span>
</div>


<!-- CLASSES -->
<div class="max-width min-height background-global">



    <!-- MAGE / WITCH -->
    <div>
        <div class="grid-column">

            <img src="{{ url_for('static', filename='img/sprites/man/mage.png')}}">

            <span class="grid-column">

                <h4>Mage</h4>
                <p>Description</p>
                <button translate="no"> info </button>

                <span>
                    <p>........</p>
                </span>
            </span>
        </div>

        <!-- More info -->
        <div></div>

    </div>

    <div>
        <div class="grid-column">

            <img src="{{ url_for('static', filename='img/sprites/woman/witch.png')}}">


            <span class="grid-column">

                <h4>Witch</h4>
                <p>Description</p>
                <button translate="no"> info </button>

                <span>
                    <p>........</p>
                </span>
            </span>
        </div>

        <!-- More info -->
        <div></div>
    </div>




    <!-- WARRIORS -->
    <div>
        <div class="grid-column">

            <img src="{{ url_for('static', filename='img/sprites/man/warrior.png')}}">

            <span class="grid-column">

                <h4>Warrior</h4>
                <p>Description</p>
                <button translate="no"> info </button>

                <span>
                    <p>........</p>
                </span>
            </span>

        </div>

        <!-- More info -->
        <div></div>
    </div>

    <div>
        <div class="grid-column">

            <img src="{{ url_for('static', filename='img/sprites/woman/warrior.png')}}">

            <span class="grid-column">

                <h4>warrior</h4>
                <p>Description</p>
                <button translate="no"> info </button>

                <span>
                    <p>........</p>
                </span>
            </span>
        </div>

        <!-- More info -->
        <div></div>
    </div>




    <!-- THIEFS -->
    <div class="grid-column">

        <img src="{{ url_for('static', filename='img/sprites/man/thief.png')}}">

        <span class="grid-column">

            <h4>Thief</h4>
            <p>Description</p>
            <button translate="no"> info </button>

            <span>
                <p>........</p>
            </span>
        </span>
    </div>

    <div>
        <div class="grid-column">

            <img src="{{ url_for('static', filename='img/sprites/woman/thief.png')}}">

            <span class="grid-column">

                <h4>Thief</h4>
                <p>Description</p>
                <button translate="no"> info </button>

                <span>
                    <p>........</p>
                </span>
            </span>
        </div>

        <!-- More info -->
        <div></div>
    </div>




    <!-- CRAFTSMAN / CRAFTSWOMAN -->
    <div>
        <div class="grid-column">

            <img src="{{ url_for('static', filename='img/sprites/man/craftsman.png')}}">

            <span class="grid-column">

                <h4>Craftsman</h4>
                <p>Description</p>
                <button translate="no"> info </button>

                <span>
                    <p>........</p>
                </span>
            </span>
        </div>

        <!-- More info -->
        <div></div>
    </div>

    <div>
        <div class="grid-column">

            <img src="{{ url_for('static', filename='img/sprites/woman/craftswoman.png')}}">

            <span class="grid-column">

                <h4>Craftswoman</h4>
                <p>Description</p>
                <button translate="no"> info </button>

                <span>
                    <p>........</p>
                </span>
            </span>
        </div>

        <!-- More info -->
        <div></div>
    </div>

</div>

{% endblock %}


{% block script %}
{% endblock %}