{% extends 'home/base.html' %}


{% block body %}


<main class="container m-auto p-2">


    <!-- BANNER -->
    <div class="container flex justify-center m-auto p-2 rounded" style="background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)),
    url(/static/img/pictures/img2.png); background-position: center">

        <a href="{{ url_for('home.index') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" width="81">
        </a>
    </div>


    <!-- ABOUT -->
    <section id="about" class="p-4 bg-black/10 rounded mt-1 mb-3 flex flex-wrap gap-4">
        <h2 class="bold text-2xl">
            About
        </h2>
        <p>
            - The Red Boar Inn is a project in development that mixes RPG, MMO and the SIMPLICITY of running in any
            browser.

            - For this project I want the player to be able to interact and leave their mark on the game's history

            The main idea is to allow you to create different types of gameplay choices and follow along.
            This type of game is my personal choice, about what I would like to play, but it is not limited to that,
            as the community grows I will accept suggestions for implementations.

            - "The freedom to participate in arena events, explore the world, create unique items to use or sell,
            help other players fight a common enemy, or stop for a while at the tavern and have a drink with the
            bard."
        </p>
    </section>
</main>



<main class="container m-auto p-2 grid grid-cols-auto gap-5 md:grid-cols-2">

    <!--DATA SECUTIRY -->
    <section id="security" class="p-4 bg-black/10 rounded flex flex-row flex-wrap gap-4">
        <h2 class="bold text-2xl flex gap-4 m-auto">
            <img style="margin-bottom: 1rem" src="{{ url_for('static', filename='img/icons/safe.png') }}" width="24">
            Data Security
        </h2>
        <span>
            <li>
                Data is not shared with third parties.
            </li>
            <li>
                The developer claims that this app does not share user data with other companies or
                organizations.
            </li>
            <li>Data is encrypted in transit.

            </li>
            <li>
                Your data is transferred over a secure connection.
            </li>
        </span>
    </section>


    <!-- COOKIES POLICY -->
    <section id="cookies" class="p-4 bg-black/10 rounded flex flex-row flex-wrap gap-4">
        <h2 class="bold text-2xl flex gap-4 m-auto">
            <img src="{{ url_for('static', filename='img/icons/cookies.png') }}" width="24">
            Cookies Policy
        </h2>
        <span>
            <p>
                Cookies come in a variety of forms but are essentially small data files used to collect and
                store
                information about you.
                We use them on our website for a variety of different functions:

                <li>
                    for the smooth and safe operation of our website;
                </li>
                <li>
                    to manage your preferences and remember you for future visits;
                </li>
                <li>
                    to analyse how you use our website in order to continually make improvements.
                </li>

                The majority of these cookies are linked to your browser session (session cookies) and disappear
                once
                you
                close your browser.
                Others remain on your device for a longer period (persistent cookies).
            </p>
        </span>

    </section>


    <!-- TERMS OF SERVICE -->
    <section id="terms" class="p-4 bg-black/10 rounded flex flex-row flex-wrap gap-4">
        <h2 class="bold text-2xl flex gap-4 m-auto">
            <img src="{{ url_for('static', filename='img/icons/terms.png') }}" width="24">
            Terms of Service
        </h2>
        <span>
            <li>
                Red Boar Inn is a massively multiplayer, lightweight, text-based online role-playing game.
            </li>
            <li>
                We strive to make Red Boar Inn the best text-based MMO and a safe environment for you to enjoy.
                This includes respecting your privacy and our commitment to protecting your personal data.
            </li>
            <li>
                These Red Boar Inn Terms of Use apply to your access to and use of the Red Boar Inn, including
                our
                website,
                as well as any other apps, widgets and other online products and services.
            </li>
            <li>
                By accessing the Red Boar Inn or using our Services, you confirm that you accept these Terms and
                agree
                to be bound by them.
            </li>
            <li>
                If you do not agree to these Terms, you will not be able to use our Services and you must not
                access
                our
                website.
            </li>
        </span>
    </section>


    <!-- CREDITS -->
    <section id="credits" class="p-4 bg-black/10 rounded flex flex-row flex-wrap gap-4">
        <h2 class="bold text-2xl flex gap-4 m-auto">
            <img src="{{ url_for('static', filename='img/icons/credits.png') }}" width="24">
            Credits
        </h2>

        <span>
            <h2>
                Images
            </h2>
            <a href="https://www.freepik.com/author/liuzishan" target="blank" class="text-blue-800">
                ---> Liuzishan - Freepik.com
            </a>

            <li>
                Knights of the medieval castle.
            </li>
            <li>
                Beautiful natural environment, digital painting.
            </li>
            <li>
                Two travelers discovered the ruins of the ancient city in the dense forest.
            </li>
            <li>
                Natural wonders, paradise, illustration.
            </li>
            <li>
                People in white clothes stand on the rock by the sea at dusk, looking into the dislie
                illustration.
            </li>
            <li>
                Alien landform.
            </li>
        </span>

        <span>
            <h4>
                Icons
            </h4>
            <div>
                <a href="https://www.streamlinehq.com/icons/streamline-mini-line" target="blank" class="text-blue-800">
                    ---> Streamline - Streamline.com
                </a>
            </div>
        </span>

    </section>

</main>

{% endblock %}


{% block footer %}
{% include 'home/footer.html' %}
{% endblock %}