{% extends 'home/base.html' %}


{% block body %}


<main class="container m-auto p-2">

    <!-- BANNER -->
    <div class="container flex justify-center m-auto p-2 rounded" style="background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)),
      url(/static/img/pictures/img2.png); background-position: center; background-size: cover">

        <a href="{{ url_for('home.index') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" width="81">
        </a>
    </div>

    <tr class="m-auto p-2 gap-3 bg-black/5">
        {{add_html_updates|safe}}
    </tr>

</main>


{% endblock %}


{% block footer %}
{% include 'home/footer.html' %}
{% endblock %}


{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/home/updates.js') }}"></script>
{% endblock %}