<nav class="container m-auto p-2 flex justify-between items-center">

    <button type="button" id="menu" class="z-50 px-2">
        <ion-icon name="menu-outline" class="text-3xl"></ion-icon>
    </button>


    <div class="flex jutify-between gap-7">

        <a href="{{ url_for('message.friend') }}">
            <ion-icon name="people-outline" class="text-3xl"></ion-icon>
        </a>

        <a href="{{ url_for('message.home') }}">
            <ion-icon name="chatbox-ellipses-outline" class="text-3xl"></ion-icon>
        </a>

        <a href="{{ url_for('message.notification') }}">
            <ion-icon name="notifications-outline" class="text-3xl"></ion-icon>
        </a>

        <a href="{{ url_for('auth.logout') }}">
            <ion-icon name="log-out-outline" class="text-3xl"></ion-icon>
        </a>

    </div>
</nav>

<div class="container m-auto h-[10px] my-2 rounded-full bg-green-400/25">
</div>