<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="{{ url_for('static', filename='css/home/head_and_footer.css') }}" type="text/css" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/home/alert.css') }}" type="text/css" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/home/forms.css') }}" type="text/css" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/home/body.css') }}" type="text/css" rel="stylesheet">

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

      <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

      {% block head %}
        <title> {% block title %}    {{ title }}    {% endblock %} </title>
      {% endblock %}
      
  </head>

  <body>
      {% block navbar %}
      {% endblock %}

      <div class="container-alert">
          {% with posts = get_flashed_messages(with_categories=True) %}
            {% if posts %}
                {% for category, message in posts %}
                    <div class="alert {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
          {% endwith %}
      </div>

      {% block content %}
      {% endblock %}

      {% block footer %}
      {% endblock %}

  </body>

</html>