/* CONTAINER AND CLASS ALERT FOR FLASH MESSAGES */
.container-alert {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
}

.alert {
    text-align: center;
    border-radius: 0.5rem;
    transition: .5s;
}

.alert-info {
    color: rgb(0, 0, 0);
}

.alert-success {
    color: rgb(48, 182, 48);
}

.alert-danger {
    color: tomato;
}