/* CONTAINER BODY FOR PAGES - HOME - ABOUT - UPDATES */
.container-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px
}

.container-banner {
    justify-content: space-around;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem
}

.wrap {
    flex-wrap: wrap;
}

/* CONTAINER BANNER-USERS AND ONLINE USERS */
.banner-users {
    text-align: center;
    flex-direction: column;
    background-color: none;
    width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 0.3rem;
    box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
}

.container-home-image {
    background: url(/static/img/pictures/img1.png);
    background-position: center;
    background-size: cover;
    border-radius: 0.3rem;
    box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
    width: 98%;
    height: 150px;
}


/* CONTAINER HOME-ABOUT */
.container-home-about {
    background-color: #ecebeb;
    padding: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container-home-about p {
    font-size: 1rem;
    padding: 0.5rem;
}

/* CONTAINER HOME-RANK */
.banner-rank {
    justify-content: center;
    margin: 1rem 0rem 1rem 0rem;
    gap: 0.5rem;
}

.container-home-rank {
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

/* CONTAINER HOME-JOIN */
.container-home-join {
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 1rem;
}

.container-home-join p {
    font-size: 1.2rem;
    padding: 0.5rem;
}


/* -------------------- UPDATES-PAGE */
.background-updates-page {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(/static/img/pictures/img2.png);
    box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
    background-position: center;
    background-size: cover;
    align-items: center;
    width: 95%;
    height: 100px;
    margin-bottom: 0.7rem;
    border-radius: 10px
}

.container-updates-main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.container-updates-main button {
    cursor: pointer;
    border: none;
    width: 100%;
    display: flex;
    text-align: left;
    font-size: 1.2rem;
    justify-content: space-between;
    background-color: #f0f0f0;
}

.container-updates-main button:hover {
    color: #5716A8;
}

.container-updates-main p {
    display: none;
}

.remove-display-none p {
    display: flex;
}

.gap-3 {
    gap: 2.5rem
}


/* -------------------- ABOUT-PAGE */
.text-style-in-containers {
    text-align: left;
}

.text-style-in-containers li {
    padding: 0.5rem;
}