/* CONFIG FOOTER */
.container-footer-main {
    background-color: #E6E6E6;
    flex-wrap: wrap;
}

.container-footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 1rem;
}

.navbar-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 1rem;
}

.navbar-footer a {
    color: #666666;
    font-size: auto;
    flex-direction: row;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.navbar-footer a:hover {
    color: #5716A8;
    transform: translate(0%, -10%);
    transition: .3s all;
}