* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-size: 1rem;
}

body {
    background-color: #eeecec;
}



/* NAVBAR-MENU */
.background {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7)), url(/static/img/pictures/img5.png);
    box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
    background-position: center;
    background-size: cover;
    margin-bottom: 3rem;
}

.max-width-navbar {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding-top: 0.5rem;
}

.navbar {
    display: flex;
}

.navbar a {
    color: #ececec;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.navbar a:hover {
    color: rgb(196, 196, 196);
    transition: .4s all;
}

.logo-img {
    padding: 0.9rem;
}


/* BUTTON MENU */
.button-menu {
    display: none;
    position: relative;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0.9rem;
}

.button-menu img:hover {
    transform: scale(1.1);
}


/* MOBILE */
.active {
    display: flex;
}

.disabled-navbar-a div {
    display: none;
}

.navbar-menu-mobile {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: auto;
    padding: .7rem;
    background-color: linear-gradient(rgba(0, 0, 0, 3), rgba(0, 0, 0, 0.9));
}

.active-menu-mobile {
    transition: .4s all;
    display: flex;
}

.navbar-menu-mobile a {
    color: white;
    padding: 0.5rem;
}

.navbar-menu-mobile a:hover {
    color: rgb(196, 196, 196);
    transition: .4s all;
}

.container-sign {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

/* BUTTON */
.button-sign {
    display: flex;
    width: 50%;
    height: 2.5rem;
    max-width: 18.7rem;
}

.button-sign button {
    cursor: pointer;
    color: white;
    width: 100%;
    height: auto;
    font-size: 1rem;
    border: none;
    border-radius: 0.3rem;
    box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
    background-color: rgb(87, 22, 168);
}

.button-sign button:hover {
    background-color: rgb(69, 17, 133);
    transition: .4s all;
}