/* INFORMATION */
.information {
    display: flex;
    justify-content: space-between;
    color: #e6e6e609;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}

.card-item {
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: auto;
    gap: .5rem;
    margin: auto;
    padding: .5rem;
    text-align: center;
    align-items: center;
}

.grid-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem
}

.grid-columns p {
    padding-top: .5rem;
}

.color-card-info p {
    color: #ceafffd2;
    text-align: left;
}