* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: white;
}

a {
    text-decoration: none;
    font-size: 1rem;
}

a :hover {
    color: aquamarine;
    transition: .5s all;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 25), rgba(0, 0, 0, 0.7)), url(/static/img/pictures/img5.png);
    background-position: left;
    background-size: cover
}

.max-width {
    max-width: 72.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: .6rem;
}