.navbar-body {
    color: white;
    width: auto;
    background-image: url(/static/img/pictures/img1.jpg);
    background-position: center;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navbar-status {
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.icons-right a {
    margin-left: 1rem;
}

.grid-row {
    display: flex;
    flex-direction: row;
}

.grid-colum {
    display: flex;
    flex-direction: column;
    justify-content: center;
}