.body-posts {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 2rem;
}

.column-img-name-date {
    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 6rem;
    padding: .4rem;
}
.column-img-name-date span {
    padding-top: .6rem;
}

.post-info {
    display: flex;

    width: 100%;
    height: auto;
    padding: .7rem;
    margin-left: 1rem;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
    border-radius: .4rem;

    align-items: center;
}


/* FORMATTING THE TEXT AREA */
.post-content {
    display: flex;

    width: 100%;
    height: 4rem;
    padding-left: .4rem;
    padding-top: .4rem;
    margin-top: 2rem;

    color: black;
    background-color: #eeecec;
    border-radius: .4rem;

    align-items: center;
    text-align: left;
}

/* BUTTON SUBMIT */
.button {
    display: flex;
    cursor: pointer;

    max-width: 200px;
    width: 100%;
    height: 35px;
    margin-top: 1rem;

    color: white;
    background-color: rgb(87, 22, 168);
    box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 0.3rem;

    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 1rem;
}

.button button:hover {
    background-color: rgb(69, 17, 133);
    transition: .4s all;
}