{% extends 'home/base.html' %}


{% block alert %}
{% include 'home/alert.html' %}
{% endblock %}


{% block body %}

<div class="max-width container-cards">

    <div class="container-cards card">

        <div>
            <a href="{{ url_for('home.index') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" width="81">
            </a>
        </div>

        <div class="container-cards">
            <form method="POST" action="">

                {{ form.csrf_token }}

                <fieldset style="border: none">

                    <div class="form-group">
                        {{ form.username.label }}

                        {% if form.username.errors %}
                        {{ form.username (class='is-invalid') }}

                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>

                        {% else %}
                        {{ form.username }}
                        {% endif %}
                    </div>



                    <div class="form-group">
                        {{ form.charname.label }}

                        {% if form.charname.errors %}
                        {{ form.charname (class='is-invalid') }}

                        <div class="invalid-feedback">
                            {% for error in form.charname.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>

                        {% else %}
                        {{ form.charname }}
                        {% endif %}
                    </div>


                    <div class="form-group">
                        {{ form.email.label }}

                        {% if form.email.errors %}
                        {{ form.email (class='is-invalid') }}

                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>

                        {% else %}
                        {{ form.email }}
                        {% endif %}
                    </div>


                    <div class="form-group">
                        {{ form.password.label }}

                        {% if form.password.errors %}
                        {{ form.password (class='is-invalid') }}

                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>

                        {% else %}
                        {{ form.password }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.auth.label }}

                        {% if form.auth.errors %}
                        {{ form.auth (class='is-invalid') }}

                        <div class="invalid-feedback">
                            {% for error in form.auth.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>

                        {% else %}
                        {{ form.auth }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label>The character's gender</label>
                    </div>

                    <div class="container-gender-img">

                        <div class="input-remember-me">
                            <input id="man" name="man" type="checkbox" checked>
                            <img src="{{ url_for('static', filename='img/icons/man.png') }}" width="25">
                        </div>


                        <div class="input-remember-me">
                            <input id="woman" name="woman" type="checkbox">
                            <img src="{{ url_for('static', filename='img/icons/woman.png') }}" width="25">
                        </div>


                        <img id="sprite" src="{{ url_for('static', filename='img/sprites/man/peasant.png' )}}"
                            width="90">

                    </div>


                </fieldset>

                <div class="button-a"> <button type="submit"> Next </button> </div>

            </form>
        </div>

        <a class="button-b" href="{{ url_for('auth.login') }}">
            <button> Already have an account? Log in </button>
        </a>

    </div>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/home/auth_create.js') }}"></script>
{% endblock %}