{% extends 'home/base.html' %}


{% block alert %}
{% include 'home/alert.html' %}
{% endblock %}


{% block body %}


<main class="container mt-7 m-auto p-2 bg-black-10 grid gap-2">


    <!-- FORM NEW ACCOUNT -->
    <section id="form" class="m-auto p-2 bg-gray-900/10 rounded w-[340px] md:m-auto md:w-[400px]">

        <div class="w-full p-1 flex justify-center">
            <a href="{{ url_for('home.index') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" width="81">
            </a>
        </div>

        <form method="POST" action="" class="p-2 flex flex-col gap-4">

            {{ form.csrf_token }}

            <fieldset class="flex flex-col gap-4">

                <div class="flex flex-col gap-1 w-full">
                    {{ form.username.label }}

                    {% if form.username.errors %}
                    {{ form.username (class='border-2 border-red-700/75') }}

                    <div class="alert-danger">
                        {% for error in form.username.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>

                    {% else %}
                    {{ form.username(class='px-2 rounded') }}
                    {% endif %}
                </div>

                <div class="flex flex-col gap-1 w-full">
                    {{ form.charname.label }}

                    {% if form.charname.errors %}
                    {{ form.charname (class='border-2 border-red-700/75')}}

                    <div class="alert-danger">
                        {% for error in form.charname.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>

                    {% else %}
                    {{ form.charname(class='px-2 rounded') }}
                    {% endif %}
                </div>

                <div class="flex flex-col gap-1 w-full">
                    {{ form.email.label }}

                    {% if form.email.errors %}
                    {{ form.email (class='border-2 border-red-700/75') }}

                    <div class="alert-danger">
                        {% for error in form.email.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>

                    {% else %}
                    {{ form.email(class='px-2 rounded') }}
                    {% endif %}
                </div>

                <div class="flex flex-col gap-1 w-full">
                    {{ form.password.label }}

                    {% if form.password.errors %}
                    {{ form.password (class='border-2 border-red-700/75')}}

                    <div class="alert-danger">
                        {% for error in form.password.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>

                    {% else %}
                    {{ form.password(class='px-2 rounded') }}
                    {% endif %}
                </div>

                <div class="flex flex-col gap-1 w-full">
                    {{ form.auth.label }}

                    {% if form.auth.errors %}
                    {{ form.auth (class='border-2 border-red-700/75')}}

                    <div class="alert-danger">
                        {% for error in form.auth.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>

                    {% else %}
                    {{ form.auth(class='px-2 rounded') }}
                    {% endif %}
                </div>


                <div class="flex flex-col w-full mt-4">
                    <label>The character's gender</label>
                </div>

                <!-- SELECT GENDER -->
                <section id="gender" class="border p-2 grid grid-cols-2">


                    <div class="flex flex-col-2 justify-between p-2">

                        <span class="flex flex-col justify-around">
                            <div class="flex gap-3">
                                <input id="man" name="man" type="checkbox" checked class="w-[20px]">
                                <ion-icon name="male-outline" class="text-2xl"></ion-icon>
                            </div>

                            <div class="flex gap-3">
                                <input id="woman" name="woman" type="checkbox" class="w-[20px]">
                                <ion-icon name="female-outline" class="text-2xl"></ion-icon>
                            </div>
                        </span>
                    </div>

                    <div class="flex flex-col gap-3 items-center">
                        <img id="sprite" src="{{ url_for('static', filename='img/sprites/man/peasant.png' )}}"
                            width="90">
                        <p> Peasand - Farmer </p>
                    </div>

                </section>

            </fieldset>

            <button type='submit' class="flex items-center justify-center text-white p-2 w-6/12 m-auto border rounded
            h-14 bg-gradient-to-r from-sky-500 to-indigo-500
            hover:border-white">
                Next
            </button>

        </form>

        <span class="m-auto mt-5 p-2 flex justify-center">
            <a href="{{ url_for('auth.login') }}">
                Already have an account? Log in
            </a>
        </span>

    </section>
</main>

{% endblock %}


{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/home/auth_create.js') }}"></script>
{% endblock %}