{% extends 'home/base.html' %}


{% block alert %}
{% include 'home/alert.html' %}
{% endblock %}


{% block body %}

<main class="container mt-7 m-auto p-2 bg-black-10 grid gap-2">


    <!-- FORM LOGIN -->
    <section id="form"
        class="m-auto p-2 bg-gray-900/10 rounded w-[340px] md:m-auto md:w-[400px] border border-[#BEBDBF]/25">

        <div class="w-full p-1 flex justify-center">
            <a href="{{ url_for('home.index') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" width="81">
            </a>
        </div>

        <form method="POST" action="" class="p-2 flex flex-col gap-4">

            {{ form.csrf_token }}

            <fieldset class="flex flex-col gap-4">

                <div class="flex flex-col gap-1 w-full">
                    {{ form.email.label }}

                    {% if form.email.errors %}
                    {{ form.email (class='border-2 border-red-700/75') }}
                    <div class="alert-danger">
                        {% for error in form.email.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>

                    {% else %}
                    {{ form.email(class='px-2 rounded text-black') }}
                    {% endif %}
                </div>

                <div class="flex flex-col gap-1 w-full">
                    {{ form.password.label }}

                    {% if form.password.errors %}
                    {{ form.password (class='border-2 border-red-700/75') }}
                    <div class="alert-danger">
                        {% for error in form.password.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>

                    {% else %}
                    {{ form.password(class='px-2 rounded text-black') }}
                    {% endif %}
                </div>


                <div class="flex gap-3 h-auto">
                    {{ form.remember(class='w-[20px]') }}
                    {{ form.remember.label }}
                </div>

            </fieldset>

            <button type='submit' class="flex items-center justify-center text-white p-2 w-6/12 m-auto border border-gray-500/75 rounded
                    h-14 bg-gradient-to-r from-sky-500 to-indigo-500
                    hover:border-white">
                Sign in
            </button>

        </form>


        <span class="flex justify-around p-2 mt-5">
            <a href="{{ url_for('auth.create') }}" class="hover:text-white">
                New account
            </a>

            <a href="{{ url_for('auth.recover') }}" class="hover:text-white">
                Forgot your password?
            </a>
        </span>

    </section>

</main>

{% endblock %}