
<footer>

    <div class="container-footer">

        <div class="navbar-footer">
            <a href="{{ url_for('home.home') }}"> Home </a>
            <a href="{{ url_for('home.about') }}"> About </a>
            <a href="{{ url_for('home.updates') }}"> Updates </a>
        </div>

        <div class="navbar-footer">
            <a href="https://github.com/Fernando-Medeiros">
                <img src="{{ url_for('static', filename='img/icons/github.png') }}" width="32"> </a>
            <a href="https://www.instagram.com/">
                <img src="{{ url_for('static', filename='img/icons/discord.png') }}" width="32">    </a>
            <a href="https://discord.com/">
                <img src="{{ url_for('static', filename='img/icons/instagram.png') }}" width="32">  </a>
        </div>

        <div class="navbar-footer">
            <a href=""> Cookie Policy </a>
            <a href=""> Privacy Policy </a>
            <a href=""> Terms of Service </a>
        </div>

    </div>

</footer>