{% extends 'game/base.html' %}


{% block body %}


<main class="m-auto p-2 grid gap-10 rounded bg-gradient-to-b from-[#181818d7] to-black/40  md:ml-[150px] ">

    <!-- SECTION 1 -->
    <section class="flex justify-between p-2">
        <p> Items </p>
        <p> {{ qty_items }} - <small>Items in inventory</small> </p>
    </section>

    <!-- SECTION 2 -->
    <section class="p-2 gap-2 flex flex-cols flex-wrap justify-around items-center border border-gray-400/25">
        <!-- ITEMS -->
        <tr>
            {{add_html_items|safe}}
        </tr>
    </section>

</main>


{% endblock %}


{% block script %}
{% endblock %}