{% extends 'game/base.html' %}


{% block head %}
<link href="{{ url_for('static', filename='css/game/inventory/inventory.css') }}" type="text/css" rel="stylesheet">
{% endblock %}


{% block body %}

<div class="max-width">
    <div class="information">
        <p> Items </p>
        <p> {{ qty_items }} - <small>Items in inventory</small> </p>
    </div>
</div>


<div class="max-width min-height background">

    <!-- COLUMNS -->
    <div class="column">
        <input class="checkbox" type="checkbox" id="mark-all-items">
        <div> <a> Qty </a> </div>
        <div> <a> Name </a> </div>
        <div> <a> Level </a> </div>
        <div> <a> Value </a> </div>
        <div> <a> Type </a> </div>
        <div> <a> Status </a> </div>
    </div>

    <!-- ITEMS -->
    <tr>
        {{add_html|safe}}
    </tr>

</div>


{% endblock %}


{% block script %}
{% endblock %}