{% extends 'home/base.html' %}


{% block content %}
    <div class="container-cards">

        <div class="container-cards card">

            <div> <img src="{{ url_for('static', filename='img/logo.png') }}" width="150"> </div>

            <div class="container-cards">

                <form method="POST" action="">

                    {{ form_new_pwd_.csrf_token }}

                    <fieldset style="border: none">

                        <div class="form-group">

                            {{ form_new_pwd_.email_auth.label    (class='form-style-label') }}

                            {% if form_new_pwd_.email_auth.errors %}
                                {{ form_new_pwd_.email_auth          (class='form-style is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form_new_pwd_.email_auth.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form_new_pwd_.email_auth          (class='form-style')  }}
                            {% endif %}
                        </div>

                        <div class="form-group">

                            {{ form_new_pwd_.token_auth.label    (class='form-style-label') }}

                            {% if form_new_pwd_.token_auth.errors %}
                                {{ form_new_pwd_.token_auth          (class='form-style is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form_new_pwd_.token_auth.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form_new_pwd_.token_auth          (class='form-style')  }}
                            {% endif %}
                        </div>

                        <div class="form-group">

                            {{ form_new_pwd_.password.label    (class='form-style-label') }}

                            {% if form_new_pwd_.password.errors %}
                                {{ form_new_pwd_.password          (class='form-style is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form_new_pwd_.password.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form_new_pwd_.password          (class='form-style')  }}
                            {% endif %}
                        </div>

                        <div class="form-group">

                            {{ form_new_pwd_.auth.label    (class='form-style-label') }}

                            {% if form_new_pwd_.auth.errors %}
                                {{ form_new_pwd_.auth          (class='form-style is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form_new_pwd_.auth.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form_new_pwd_.auth          (class='form-style')  }}
                            {% endif %}
                      </div>
                    </fieldset>

                    <div class="button-a"> <button> {{ form_new_pwd_.submit.label }} </button> </div>

                </form>

                <div >
                   <a class="button-b" href="{{ url_for('login.login') }}">  <button> Return Log in </button> </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
