{% extends 'home/base.html' %}


{% block content %}
    <div class="container-cards">

        <div class="container-cards card">

            <div> <img src="{{ url_for('static', filename='img/logo.png') }}" width="150"> </div>

            <div class="container-cards">

                <form method="POST" action="">

                    {{ form_validate_token_.csrf_token }}

                    <fieldset style="border: none">
                        
                         <div class="form-group">
                            {{ form_validate_token_.email.label    (class='form-style-label') }}

                            {% if form_validate_token_.email.errors %}
                                {{ form_validate_token_.email          (class='form-style is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form_validate_token_.email.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form_validate_token_.email          (class='form-style')  }}
                            {% endif %}
                        </div>
                        
                        
                        <div class="form-group">

                            {{ form_validate_token_.token.label    (class='form-style-label') }}

                            {% if form_validate_token_.token.errors %}
                                {{ form_validate_token_.token          (class='form-style is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form_validate_token_.token.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form_validate_token_.token          (class='form-style')  }}
                            {% endif %}
                        </div>
                        
                    </fieldset>

                    <div class="button-a"> <button> {{ form_validate_token_.submit.label }} </button> </div>
                </form>

                <div >
                   <a class="button-b" href="{{ url_for('login.login') }}">  <button> Return Log in </button> </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
