{% extends 'game/base.html' %}


{% block head %}
<link href="{{ url_for('static', filename='css/game/tavern/tavern.css') }}" type="text/css" rel="stylesheet">
<link href="{{ url_for('static', filename='css/home/alert.css') }}" type="text/css" rel="stylesheet">
{% endblock %}


{% block alert %}
{% include 'game/alert.html' %}
{% endblock %}


{% block body %}

<div class="max-width min-height">

    <!-- POSTS -->
    <tr>
        {{add_html|safe}}
    </tr>

    <!-- FORM -->
    <div class="max-width">
        <form method="POST" action="">

            <input class="post-content" type="text" name="text" minlength="1" maxlength="400"
                placeholder="Say something.." required>
            <button class="button" type="submit"> submit </button>

        </form>
    </div>

</div>

{% endblock %}



{% block script %}
{% endblock %}