
<div class="container">

  <div class="navbar">

    <a href="{{ url_for('profile.home') }}"> Home </a>
    <a href="{{ url_for('arena.home') }}"> Arena </a>
    <a href="{{ url_for('world.home') }}"> World </a>
    <a href="{{ url_for('marketplace.home') }}"> Marketplace </a>
    <a href="{{ url_for('character.home') }}"> Character </a>
    <a href="{{ url_for('tavern.home') }}"> Tavern </a>
    <a href="{{ url_for('settings.home') }}"> Settings </a>
    <a href="{{ url_for('login.logout') }}"> Logout </a>

  </div>

</div>
