{% extends 'game/base.html' %}


{% block body %}

<main class="m-auto p-2 grid gap-1 rounded bg-gradient-to-b from-[#181818d7] to-black/40  md:ml-[150px] gap-10"
    style="background: linear-gradient(rgba(0, 0, 0, 50), rgba(0, 0, 0, 0.75)), url(/static/img/sprites/man/peasant.png); background-repeat:no-repeat; background-position: center; background-size: contain">


    <!-- BANNER -->
    <section class="p-2 w-full h-[75px] flex justify-around items-center rounded md:h-[100px]"
        style="background: linear-gradient(rgba(0, 0, 0, 50), rgba(0, 0, 0, 0.50)), url(/static/img/pictures/img2.png); background-position: center; background-size: cover">
        <h1 class="text-xl">
            Equipped Items
        </h1>
    </section>


    <!-- HELMET -->
    <section class="flex flex-row justify-around p-2">
        <div
            class="w-max rounded items-center p-2 min-w-[105px] min-h-[123px] bg-gradient-to-b from-[#181818d7] to-black/60">
            <img src="{{ dict_equipments['head']['sprite'] }}" width="35" class="m-auto">
            <h3>{{ dict_equipments['head']['name'] }}</h3>
            <p>{{ dict_equipments['head']['level'] }}</p>
            <p>{{ dict_equipments['head']['status'] }}</p>
        </div>
    </section>
    
    <!-- NECKACLE -->
    <section class="flex flex-row justify-around p-2">
        <div
            class="w-max rounded items-center p-2 min-w-[105px] min-h-[123px] bg-gradient-to-b from-[#181818d7] to-black/60">
            <img src="{{ dict_equipments['neckacle']['sprite'] }}" width="35" class="m-auto">
            <h3>{{ dict_equipments['neckacle']['name'] }}</h3>
            <p>{{ dict_equipments['neckacle']['level'] }}</p>
            <p>{{ dict_equipments['neckacle']['status'] }}</p>
        </div>
    </section>

    <!-- ARMOR / GLOVES L-R -->
    <section class="flex flex-row justify-around p-2">
        <div
            class="w-max rounded items-center p-2 min-w-[105px] min-h-[123px] bg-gradient-to-b from-[#181818d7] to-black/60">
            <img src="{{ dict_equipments['handL']['sprite'] }}" width="35" class="m-auto">
            <h3>{{ dict_equipments['handL']['name'] }}</h3>
            <p>{{ dict_equipments['handL']['level'] }}</p>
            <p>{{ dict_equipments['handL']['status'] }}</p>
        </div>

        <div
            class="w-max rounded items-center p-2 min-w-[105px] min-h-[123px] bg-gradient-to-b from-[#181818d7] to-black/60">
            <img src="{{ dict_equipments['body']['sprite'] }}" width="35" class="m-auto">
            <h3>{{ dict_equipments['body']['name'] }}</h3>
            <p>{{ dict_equipments['body']['level'] }}</p>
            <p>{{ dict_equipments['body']['status'] }}</p>
        </div>

        <div
            class="w-max rounded items-center p-2 min-w-[105px] min-h-[123px] bg-gradient-to-b from-[#181818d7] to-black/60">
            <img src="{{ dict_equipments['handR']['sprite'] }}" width="35" class="m-auto">
            <h3>{{ dict_equipments['handR']['name'] }}</h3>
            <p>{{ dict_equipments['handR']['level'] }}</p>
            <p>{{ dict_equipments['handR']['status'] }}</p>
        </div>
    </section>

    <!-- RINGS L-R -->
    <section class="flex flex-row justify-around p-2">

        <div
            class="w-max rounded items-center p-2 min-w-[105px] min-h-[123px] bg-gradient-to-b from-[#181818d7] to-black/60">
            <img src="{{ dict_equipments['ringL']['sprite'] }}" width="35" class="m-auto">
            <h3>{{ dict_equipments['ringL']['name'] }}</h3>
            <p>{{ dict_equipments['ringL']['level'] }}</p>
            <p>{{ dict_equipments['ringL']['status'] }}</p>
        </div>

        <div
            class="w-max rounded items-center p-2 min-w-[105px] min-h-[123px] bg-gradient-to-b from-[#181818d7] to-black/60">
            <img src="{{ dict_equipments['ringR']['sprite'] }}" width="35" class="m-auto">
            <h3>{{ dict_equipments['ringR']['name'] }}</h3>
            <p>{{ dict_equipments['ringR']['level'] }}</p>
            <p>{{ dict_equipments['ringR']['status'] }}</p>
        </div>
    </section>

    <!-- BOOTS L-R -->
    <section class="flex flex-row justify-around p-2">

        <div
            class="w-max rounded items-center p-2 min-w-[105px] min-h-[123px] bg-gradient-to-b from-[#181818d7] to-black/60">
            <img src="{{ dict_equipments['legL']['sprite'] }}" width="35" class="m-auto">
            <h3>{{ dict_equipments['legL']['name'] }}</h3>
            <p>{{ dict_equipments['legL']['level'] }}</p>
            <p>{{ dict_equipments['legL']['status'] }}</p>
        </div>

        <div
            class="w-max rounded items-center p-2 min-w-[105px] min-h-[123px] bg-gradient-to-b from-[#181818d7] to-black/60">
            <img src="{{ dict_equipments['legR']['sprite'] }}" width="35" class="m-auto">
            <h3>{{ dict_equipments['legR']['name'] }}</h3>
            <p>{{ dict_equipments['legR']['level'] }}</p>
            <p>{{ dict_equipments['legR']['status'] }}</p>
        </div>
    </section>

</main>


{% endblock %}


{% block script %}
{% endblock %}