{% extends 'game/base.html' %}


{% block body %}


<main class="m-auto p-2 grid gap-10 rounded bg-gradient-to-b from-[#181818d7] to-black/40  md:ml-[150px] ">

    <!-- STATUS -->
    <section class="p-2">
        <div class="grid">
            <tr>
                {{add_html_status|safe}}
            </tr>
        </div>
    </section>

    <!-- CRAFT SKILLS -->
    <section class="p-2">
        <div class="grid grid-cols-3 gap-3 items-center text-center md:grid-cols-5">
            <tr>
                {{add_html_craft_skills|safe}}
            </tr>
        </div>
    </section>

</main>


{% endblock %}


{% block script %}
{% endblock %}