{% extends 'game/base.html' %}


{% block body %}


<main class="m-auto p-2 grid gap-7 rounded bg-gradient-to-b from-[#181818d7] to-black/40  md:ml-[150px] ">


    <!-- BANNER -->
    <section class="p-2 w-full h-[75px] flex justify-around items-center rounded md:h-[100px]"
        style="background: linear-gradient(rgba(0, 0, 0, 50), rgba(0, 0, 0, 0.50)), url(/static/img/pictures/img2.png); background-position: center; background-size: cover">
        <h1 class="text-xl">
            Choose a Vocation
        </h1>
    </section>


    <!-- VOCATIONS -->
    <section class="p-2 w-full grid gap-10 md:gap-5">
        <tr>
            {{add_html_vocations|safe}}
        </tr>
    </section>

</main>


{% endblock %}


{% block script %}
{% endblock %}