.row {
    display: flex;
    flex-direction: row;
}

.flex-space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.icon-equipment {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    margin-top: 1rem;
}



.container-main {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    gap: 2rem;
}

.container-hp-mp,
.container-attributes,
.container-status {
    min-width: 21rem;
    width: 100%;
    height: auto;
    padding: .2rem;
}


/* HEALTH AND ENERGY  */
.health-bar,
.energy-bar,
.current-health-bar,
.current-energy-bar,
.skill-bar {
    display: inline;
    box-sizing: border-box;
    width: 75%;
    height: 10px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.8rem;
}

.health-bar {
    background: #ff79798c;
}

.energy-bar {
    background: #79d7ff8c;
}

.current-health-bar {
    background: #FF7979;
}

.current-energy-bar {
    background: #79D7FF;
}

.skill-bar {
    background: #7e79ff9a;
}


/* PRIMARY STATUS */
.primary-status {
    width: 100%;
    height: auto;

    border: #e6e6e609;
    border-width: 0rem .1rem .1rem .1rem;
    border-style: solid;
}


/* SECONDARY STATUS */
.container-column-33pct {
    flex-direction: column;
    display: flex;
    width: 33%;
    padding: .5rem
}

.mini-container-status div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: .3rem;
    padding-right: .3rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
    min-width: auto;

    border: #e6e6e609;
    border-width: 0rem 0rem 0.1rem 0rem;
    border-style: solid;
}

.mini-container-status img,
.mini-container-status span,
.primary-status img,
.primary-status span {
    padding-right: .5rem;
}



/* SUB-MENU */
.container-submenu {
    width: 100%;
    height: auto;
    margin: 1.2rem .3rem 1.2rem .3rem;
}

.container-submenu div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    gap: 1rem;
    padding: .3rem;
}