.grid-column {
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    gap: .5rem
}

.grid-column div {
    padding: .5rem;
}

.grid-column-status {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-column-status div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-width: 6.2rem;
    height: auto;
    gap: .5rem
}