.column-att span {
    padding: .1rem;
    align-items: center;
    text-align: center;
    border: 2px solid rgba(104, 103, 103, 0.034);
}


.grid-column,
.column-att {
    display: grid;
    grid-template-columns: 1fr 2fr;

    width: 100%;
    height: auto;

    padding: .3rem;
    margin: 2em auto;

    align-items: center;
    border: 1px solid rgba(104, 103, 103, 0.096);
}

.grid-column div {
    margin: auto;
    padding: auto;
    width: 100%;
    align-items: center;
}

.grid-column span {
    margin: auto;
    padding: .3rem;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.171);
}

/* SPRITES */
.grid-column img {
    width: 100px;
    padding: .3rem;
    margin: auto;
}

/* BUTTONS */
.grid-column button {
    margin: auto;
    width: auto;
    padding: .5rem;
    border-radius: 5px;

    text-align: center;
    background-color: transparent;
    border: 2px solid rgb(73, 73, 73);
}

.grid-column button:hover {
    border: 2px solid rgb(61, 61, 61);
    transform: scale(1.1, 1.1);
}