<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- FAVICON -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  <!-- TAILWIND -->
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- TITLE -->
  {% block head %}
  <title> {{ title }} | Red Boar Inn </title>
  {% endblock %}

</head>

<body class="font-primary bg-[#181818] text-gray-100/75">

  {% include 'game/navbar_left.html' %}

  <main class="container m-auto">

    {% include 'game/navbar_top.html' %}

    {% block alert %}
    {% endblock %}

    {% block body %}
    {% endblock %}

    {% include 'game/footer.html' %}

  </main>

  {% block script %}
  {% endblock %}

  <script type="text/javascript" src="{{ url_for('static', filename='js/game/menu.js') }}"></script>

  <!-- IONICONS -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>